.privacy {
  padding: rem(256) 0 rem(128);

  @include media(990) {
    padding: rem(176) 0 rem(96);
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: rem(16);

    @include media(990) {}
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: rem(64);

    @include media(990) {
      margin-bottom: rem(48);
    }

    a {
      font-size: 20px;
      line-height: 140%;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      margin-bottom: rem(32);

      @include media (990) {
        margin-bottom: rem(16);
      }
    }

    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      margin-bottom: rem(32);
      margin-top: rem(64);

      @include media (990) {
        margin-top: rem(48);
      }
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      margin-bottom: rem(16);
      margin-top: rem(32);
    }

    p {
      font-size: 20px;
      line-height: 140%;
      margin-bottom: rem(28);

      strong {
        font-size: 20px;
        line-height: 140%;
        font-weight: 500;
      }

      a {
        font-size: 20px;
        line-height: 140%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}