.about {
  &__section {
    padding: rem(128) 0;

    @include media(1600) {
      padding: rem(80) 0;
    }

    @include media (990) {
      padding: rem(96) 0;
    }

    @include media(415) {
      padding: rem(65) 0;
    }

    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: rem($containerWidth);
      margin: 0 auto;
      border-bottom: 1px solid rgba(166, 166, 176, 0.25);
    }
  }


  &__block {
    display: flex;
    justify-content: flex-start;

    @include media(768) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    max-width: rem(352);
    margin-right: rem(48);
    width: 100%;

    @include media(768) {
      order: 2;
      max-width: 100%;
      margin-right: 0;
    }

    img {
      width: 100%;
      margin-bottom: rem(24);

    }
  }

  &__btn {
    font-size: rem(20);
    max-width: 100%;

    @include media(990) {
      padding: rem(20);
    }

    @include media (768) {
      max-width: rem(416);
      margin: 0 auto;
    }

    @include media (415) {
      font-size: rem(18);
    }
  }

  &__text {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 73px;

    p {
      line-height: 150%;
      margin-bottom: 1rem;
      font-size: rem(20);
      margin-bottom: rem(15);

      @include media(990) {
        font-size: rem(20);
        line-height: 150%;
      }

      @include media (415) {
        font-size: rem(18);
      }
    }

    @include media(768) {
      margin-bottom: rem(24);
    }

    @include media (415) {
      font-size: rem(18);
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-weight: 600;
    line-height: 100%;
    font-size: rem(20);
    margin-bottom: rem(20);

    @include media (990) {
      font-size: rem(32);
      margin-top: rem(0);
    }

    @include media (415) {
      font-size: rem(20);
      margin-bottom: rem(16);
    }
  }

}