.featured {
  &__section {
    padding: rem(80) 0 rem(128);

    @include media(990) {
      padding: rem(96) 0;
    }

  }

  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(64);

    @include media(990) {
      font-size: 40px;
      line-height: 125%;
    }
  }

  &__btn {
    margin: 24px auto 0;
  }

  &__block {
    margin-bottom: rem(10);
  }
}