.head {
  &__section {


    padding: rem(128) 0 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: rem(176);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: rem($containerWidth);
      margin: 0 auto;
      border-bottom: 1px solid rgba(166, 166, 176, 0.25);
    }

    @include media (1600) {
      padding-bottom: rem(124);
    }

    @media (max-height:850px) and (max-width:415px) {
      padding-top: rem(110);
    }
  }


  &__title {
    font-weight: 800;
    font-size: rem(64);
    line-height: 120%;
    max-width: rem(1000);
    margin: 0 auto rem(32);

    @media (max-height:800px) {
      margin-bottom: rem(24);
    }

    @include media (1600) {
      font-size: rem(56);
      max-width: rem(900);
      margin-bottom: rem(24);
    }

    @include media(990) {
      font-size: rem(40);
      line-height: 125%;
    }

    @include media (415) {
      font-size: 32px;
      margin-bottom: rem(16);
    }

    @media (max-height:850px) and (max-width:415px) {
      margin-bottom: rem(16);
    }
  }

  &__subtitle {
    margin: 0 auto rem(40);
    font-style: normal;
    font-weight: 300;
    font-size: rem(24);
    line-height: 150%;
    max-width: 540px;

    @media (max-height:800px) {
      margin-bottom: rem(32);
    }

    @include media (1600) {
      font-size: rem(20);
      max-width: 100%;
      margin-bottom: rem(32);
    }

    @include media (415) {
      font-size: rem(18);
      margin-bottom: rem(24);
    }
  }

  &__btn {
    margin: 0 auto;
    z-index: 1;

    @include media (1600) {
      max-width: rem(273);
      font-size: rem(20);
      line-height: 140%;
    }

    @include media(415) {
      font-size: rem(18);
    }
  }

  &__block {
    display: flex;
    max-width: rem(816);
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    padding-top: rem(130);
    margin-top: rem(-50);
    z-index: -1;

    @media (max-height:800px) {
      padding-top: 100px;
    }

    &::before {
      content: "";
      position: absolute;
      background: url(../images/icons/network.svg);
      background-repeat: no-repeat;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-position: center top;
      max-width: rem(720);
      display: flex;
      justify-content: center;
      margin: 0 auto;
      z-index: -1;
    }

    @include media (1600) {
      max-width: rem(792);
      padding-top: rem(100);
      margin-top: rem(-40);
    }

    @include media(990) {
      display: none;
    }
  }

  &__box {

    img {
      max-width: rem(100);

      @include media (1600) {
        max-width: rem(80);
      }
    }

    span {
      font-size: 12px;
      line-height: 125%;
      text-align: center;
      color: #BCBCC5;
      margin-top: -10px;
      display: flex;
      justify-content: center;
    }
  }

  &__block-header,
  &__block-footer {
    display: none;

    @include media(990) {
      display: flex;
      justify-content: center;

      .head__box {

        &:nth-child(2) {
          img {
            max-width: rem(120);

            @include media (415) {
              max-width: rem(110);
            }
          }
        }

        img {
          @include media (415) {
            max-width: rem(80);
          }
        }

      }
    }
  }

  &__block-header {
    margin-bottom: rem(30);

    .head__box {
      &:nth-child(2) {
        margin-top: -40px;
      }
    }

    @media (max-height:850px) and (max-width:415px) {
      margin-bottom: rem(25);
    }
  }

  &__block-footer {
    margin-top: rem(30);

    @media (max-height:850px) and (max-width:415px) {
      margin-top: rem(25);
    }

    .head__box {
      &:nth-child(2) {
        margin-top: 24px;

        img {}
      }
    }
  }
}