.head {
  &__section {
    padding: rem(128) 0 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: rem(176);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: rem($containerWidth);
      margin: 0 auto;
      border-bottom: 1px solid rgba(166, 166, 176, 0.25);
    }

    @include media(990) {
      padding-bottom: rem(124);
    }


  }


  &__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    max-width: 1000px;
    margin: 0 auto rem(32);

    @include media(990) {
      font-size: 40px;
      line-height: 125%;
    }
  }

  &__subtitle {
    margin: 0 auto rem(40);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    max-width: 540px;

    @include media(990) {
      font-size: 20px;
      max-width: 416px;
    }
  }

  &__btn {
    margin: 0 auto;
    z-index: 1;
  }

  &__block {
    display: flex;
    max-width: 816px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    padding-top: 130px;
    margin-top: -50px;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      background: url(../images/icons/network.svg);
      background-repeat: no-repeat;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-position: center top;
      max-width: 720px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      z-index: -1;
    }

    @include media(990) {
      display: none;
    }
  }

  &__box {
    img {
      max-width: 100px;
    }

    span {
      font-size: 12px;
      line-height: 125%;
      text-align: center;
      color: #BCBCC5;
      margin-top: -10px;
      display: flex;
      justify-content: center;
    }
  }

  &__block-header,
  &__block-footer {
    display: none;

    @include media(990) {
      display: flex;
      justify-content: center;

      .head__box {
        &:nth-child(2) {
          img {
            max-width: 120px;
          }
        }
      }
    }
  }

  &__block-header {
    margin-bottom: rem(60);

    .head__box {
      &:nth-child(2) {
        margin-top: -40px;
      }
    }

  }

  &__block-footer {
    margin-top: rem(48);

    .head__box {
      &:nth-child(2) {
        margin-top: 24px;

        img {}
      }
    }
  }
}