.blog {

  &__block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  &__box {
    background: #FBFAFA;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
  }

  &__box-text {
    padding: rem(32);

    @include media(415) {
      padding: rem(24);
    }

    p {
      font-size: 20px;
      line-height: 160%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include media(415) {
        font-size: rem(18);
      }
    }
  }

  &__post {
    padding: 0 rem(16);
    width: 50%;
    margin-bottom: rem(55);

    @include media (768) {
      width: 100%;
      margin-bottom: rem(24);
    }

    @include media (415) {
      margin-bottom: rem(16);
    }

    &-img {
      max-width: 100%;
      height: 306px;
      width: 100%;
      object-fit: cover;
      object-position: center center;

      @include media (990) {
        height: 250px;
      }

      @include media(768) {
        height: 48.75vw;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 28px;
      line-height: 120%;
      margin-bottom: rem(16);

      @include media(415) {
        font-size: rem(24);
        margin-bottom: rem(12);
      }
    }
  }
}