.blog {
  &__section {}

  &__block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  &__box {
    background: #FBFAFA;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
  }

  &__box-text {
    padding: 32px;

    p {
      font-size: 20px;
      line-height: 160%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__post {
    padding: 0 16px;
    width: 50%;
    margin-bottom: 55px;

    @include media (768) {
      width: 100%;
      margin-bottom: 24px;
    }

    &-img {
      max-width: 100%;
      height: 306px;
      width: 100%;
      object-fit: cover;
      object-position: center center;

      @include media (990) {
        height: 250px;
      }

      @include media(768) {
        height: 48.75vw;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 28px;
      line-height: 120%;
      margin-bottom: rem(16);
    }
  }
}