.footer {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: rem($containerWidth);
    margin: 0 auto;
    border-top: 1px solid rgba(166, 166, 176, 0.5);
  }

  // background: $blackColor;
  // .footer__container
  &__container {
    display: flex;
    align-items: center;

    @include media(510) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__block {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0;

    @include media (990) {
      flex-direction: column;
      padding: 24px 0;
    }

    .privacy-policy-link {
      font-size: 15px;
      line-height: 100%;
      text-transform: capitalize;
      color: #A6A6B0;

      &:hover {
        text-decoration: underline;
      }

      @include media (990) {
        order: 1;
        margin-bottom: 16px;
      }
    }
  }

  &__copy {
    font-size: 15px;
    line-height: 100%;
    text-transform: capitalize;
    color: #A6A6B0;

    @include media (990) {
      order: 2;
    }
  }
}