// =====================================================================================================================
.header {
	width: 100%;
	background: rgba(255, 255, 255, 0.45);
	border-bottom: 1px solid rgba(166, 166, 176, 0.05);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	// .header__container
	&__container {
		height: rem($headerHeight);
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media(990) {
			height: rem(78);
		}
	}

	&__menu {}

	&__logo {
		font-weight: 600;
		font-size: 32px;
		line-height: 100%;
		text-transform: capitalize;

		@include media(990) {
			font-size: 24px;
			line-height: 100%;
		}
	}

	.menu {
		&__list {
			display: flex;
			align-items: center;
		}

		&__link {
			font-size: 22px;
			line-height: 100%;

			@include media (990) {
				font-size: 16px;
			}

			&.btn {
				background: linear-gradient(91.73deg, #64BDE9 -5.69%, #29AAEA 109.32%);
				border-radius: 6px;
				padding: 12px 16px;
				max-width: 112px;
				font-size: 22px;
				line-height: 140%;
				margin-left: 24px;
				box-shadow: none;

				@include media (990) {
					max-width: 90px;
					font-size: 16px;
				}
			}
		}
	}
}

// =====================================================================================================================