.single {
  padding: rem(256) 0 rem(256);

  @include media(1600) {
    padding: rem(160) 0 rem(80);
  }

  @include media(990) {
    padding: rem(176) 0 rem(96);
  }

  @include media(415) {
    padding: rem(110) 0 rem(64);
  }

  &__container {
    max-width: rem(800);

    @include media(1600) {
      max-width: rem(872);
    }
  }

  &__image {
    img {
      border-radius: 10px;
      width: 100%;
    }

    margin-bottom: rem(32);

    @include media(415) {
      margin-bottom: rem(16);
    }
  }

  &__date {
    margin-bottom: rem(32);
    display: flex;
    align-items: center;

    @include media(1600) {
      margin-bottom: rem(16);
    }

    @include media (990) {
      margin-bottom: rem(24);
    }

    @include media(415) {
      margin-bottom: rem(16);
    }
  }

  &__date-img {
    margin-right: 12px;
    max-width: 22px;

    @include media (990) {
      max-width: 18px;
    }
  }

  &__date-value {
    font-size: rem(18);
    line-height: 140%;
    color: #A6A6B0;

    @include media(1600) {
      font-size: rem(16);
    }

    @include media (990) {
      font-size: 14px;
      line-height: 140%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(48);
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: rem(64);

    @include media (1600) {
      font-size: rem(40);
      margin-bottom: rem(32);
    }

    @include media (990) {
      font-size: 40px;
      line-height: 125%;
      margin-bottom: rem(48);
    }

    @include media (415) {
      font-size: 32px;
      margin-bottom: rem(20);
    }
  }

  &__blog-section {
    padding-bottom: rem(128);

    @include media(415) {
      padding-bottom: rem(64);
    }
  }

  &__blog-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(64);

    @include media(1600) {
      font-weight: 800;
      font-size: 40px;
      line-height: 100%;
      margin-bottom: rem(40);
    }

    @include media(990) {
      text-align: left;
      font-size: 40px;
      line-height: 125%;
      margin-bottom: rem(48);
    }

    @include media(415) {
      font-weight: 800;
      font-size: rem(32);
      margin-bottom: rem(32);
    }
  }

  //universal style
  &__content {
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      margin-bottom: rem(32);
      margin-top: rem(64);

      @include media(1600) {
        font-size: rem(28);
        margin-bottom: rem(20);
        margin-top: rem(48);
      }

      @include media (990) {
        margin-top: rem(48);
        margin-bottom: rem(24);
      }

      @include media(415) {
        font-size: rem(20);
        margin-bottom: rem(20);
        margin-top: rem(40);
      }
    }

    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      margin-top: rem(48);
      margin-bottom: rem(24);

      @include media(1600) {
        font-size: 24px;
        margin-bottom: rem(20);
        margin-top: rem(40);
      }

      @include media (990) {
        margin-top: rem(40);
      }

      @include media(415) {
        font-size: 24px;
        margin-bottom: rem(20);
        margin-top: rem(40);
      }
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      margin-top: rem(32);
      margin-bottom: rem(24);

      @include media(1600) {
        font-size: 20px;
        margin-bottom: rem(20);
        margin-top: rem(40);
      }

      @include media (990) {
        margin-top: rem(24);
        margin-bottom: rem(16);
      }

      @include media(415) {
        font-size: 20px;
        margin-bottom: rem(20);
        margin-top: rem(40);
      }
    }

    blockquote {
      position: relative;
      padding-left: rem(16);

      &::before {
        content: "";
        position: absolute;
        display: flex;
        height: 100%;
        width: 4px;
        left: 0;
        background: linear-gradient(176.48deg, #7CCBF2 -15.23%, #0F9EE4 134.82%);
      }
    }

    hr {
      opacity: 0.25;
      border: 1px solid #A6A6B0;
    }

    p {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: rem(24);

      @include media(1600) {
        font-size: 20px;
        margin: 20px 0;
      }

      @include media (990) {
        font-size: 20px;
        line-height: 140%;
      }

      @include media(415) {
        font-size: 18px;
      }

      strong {
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: rem(24);

        @include media(1600) {
          font-size: 20px;
          margin: 20px 0;
        }

        @include media (990) {
          font-size: 20px;
          line-height: 140%;
        }

        @include media(415) {
          font-size: 18px;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    ol,
    ul {
      margin-bottom: rem(32);
      padding-left: rem(25);

      @include media(1600) {
        margin-bottom: rem(40);
        margin-top: rem(20);
      }

      @include media (990) {
        margin-bottom: rem(24);
      }

      @include media(415) {
        margin-bottom: rem(40);
      }
    }

    li {
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: rem(12);

      @include media(1600) {
        font-size: 20px;
        margin-bottom: rem(8);
      }

      @include media(415) {
        font-size: 18px;
      }
    }

    ol {
      list-style-type: none;
      counter-reset: num;

      li {
        position: relative;
        display: flex;
        align-items: center;

        &::before {
          content: counter(num) '.';
          counter-increment: num;
          display: inline-block;
          position: absolute;
          left: -25px;
          width: 20px;
          text-align: right;
          background: linear-gradient(176.48deg, #7CCBF2 -15.23%, #0F9EE4 134.82%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 20px;
          line-height: 140%;

          @include media(1600) {
            font-size: 18px;
          }
        }
      }
    }

    ul {
      li {
        position: relative;
        display: flex;
        align-items: center;

        &::before {
          content: "• ";
          position: absolute;
          left: -25px;
          width: 20px;
          background: linear-gradient(176.48deg, #7CCBF2 -15.23%, #0F9EE4 134.82%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    .is-layout-flex {
      padding: 16px 24px 0;
      background: #FBFAFA;
      border-radius: 6px;

      @include media(990) {
        padding: 16px 16px 0;
      }
    }
  }
}